{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "navigators": "./src/navigators",
          "screens": "./src/screens"
        },
        "extensions": [
          ".json",
          ".js",
          ".jsx",
          ".ios.js",
          ".ios.jsx",
          ".android.js",
          ".android.jsx"
        ]
      }
    ]
  ]
}
